body {
    background-color:#0a092d;
}
h1 {
    line-height: 50px;
    font-family: Courier, Impact, Arial;font-weight: 600;
    color: #339BEB;
} 
p {
    color: white;
   
}

a{
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: center;
}
.grid{
    margin: 10px 20px 30px 40px;
    padding: 5px;
}
